* {
    margin: 0;
    padding: 0;
}

div {
    font-family: '源ノ明朝 JP Medium';
    background-color: azure;
}

.pace-running .pade {
    display: none;
}


/*
@media(max-width:999px){
    .si{
        width:750px;
    }
}
*/

.indent {
    padding-left: 30px;
    padding-right: 30px;
}

pre {
    font-family: '源ノ明朝 JP';
}

header {
    background-image: url(image/same.jpg);
    /*墨*/
    color: #ffffff;
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: '源ノ明朝 JP Light';
}

.icon {
    position: relative;
    background-color: rgb(0, 0, 0);
}

.icon a {
    position: absolute;

}

.head {
    padding-left: 820px;
    padding-top: 262px;
}

.head h1 {
    font-size: 55px;
    padding-top: 10px;
}

.head p {
    padding-top: 2px;
    font-size: 20px;
}

h2 {
    color: #ffffff;
}

.title {
    margin-top: 10px;
    background-color: #000E25;
    border-left: 5px solid cadetblue;
    border-bottom: 5px solid cadetblue;
    border-right: 5px solid #000E25;
    border-top: 5px solid #000E25;
    box-shadow: 1px 1px 8px cadetblue;
    margin-bottom: 4px;
}

.index3 {
    background-color: #80aba9;
    margin: 1000px;
}

.index2 {
    list-style-type: none;
    padding-left: 40px;
    font-size: 15px;
    color: #000000;
}

.lnkn {
    font-family: '源ノ明朝 JP medium';
    background-color: cadetblue;
    font-size: 17px;
    height: 25px;
    color: #ffffff;
    padding: 8px;

}

.lnkn li {
    display: inline-block;
    padding-right: 60px;
    padding-left: 60px;
}

.lnkn a {
    text-decoration: none;
    position: relative;
    color: #ffffff;
}

.lnkn ul {
    text-align: center;
}

.lnkn a:visited {
    color: #ffffff;
}


.lnkn a::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all 0.3s ease 0s;
}

.lnkn a:hover {
    color:#000E25;
    cursor: pointer;
}

.lnkn a:hover::after {
    width: 100%;
}

.documents {
    font-family: '源ノ明朝 JP';
}

.index li {
    padding-left: 40px;
    list-style-type: none;
    font-size: 15px;
}

.shut {
    color: #ffffff;
    background-color: #000000;
}

.subtai {
    border-bottom: 2px solid cadetblue;
    background-color: transparent;
}

h3 {
    color: #000E25;
}

.index2 a {
    text-decoration: none;
}

nav a {
    position: relative;
    color: #000000;
}

nav a:visited {
    color: #000000;
}

nav a::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: #000E25;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    color: #000000;
    cursor: pointer;
}

nav a:hover::after {
    width: 100%;
}

h4 {
    padding-left: 30px;
    font-family: '源ノ明朝 JP';
    font-size: 18px;
    padding-bottom: 2px;
}

.shou {
    padding-left: 30px;
    background-color: transparent;
}

.honbun {
    padding-left: 40px;
    font-size: 15px;
}

/*.dounyu {
    padding: 400px;
    background-repeat: no-repeat;
    background-image: url(image/額.png);
    background-size: 1200px;
    background-position: center;
}*/

/*.dounyu {
  position: relative;
  width: 100%;
  padding-top: 85%; // ?ココ
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

@media(max-width:999px) {
    .dounyu p {
        position: relative;
    }

    .dounyu {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }

    .dounyu img {
        margin-top: 45px;
        margin-left: -135px;
        margin-bottom: 45px;
        width: 870px;
        height: 780px;
    }

    .dounyu span {
        position: absolute;
        top: 215px;
        left: -10px;
        right: -10px;
        font-size: 28px;
    }
}

@media (min-width:1000px) {
    .dounyu p {
        position: relative;
    }

    .dounyu {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
    }

    .dounyu img {
        margin-top: 45px;
        margin-left: -95px;
        margin-bottom: 45px;
    }

    .dounyu span {
        position: absolute;
        top: 190px;
        left: 70px;
        right: 70px;
        font-size: 28px;
    }
}

.sabsab {
    padding-left: 40px;
    padding-bottom: 0px;
}

h5 {
    font-size: 15px;
    font-family: '源ノ角ゴシック JP';
    padding: 0px;
}

footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 9px;
    color: #ffffff;
    font-family: '源ノ明朝 JP Light';
    background-color: #595857;
}

footer h3 {
    color: #ffffff;
}
